<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe.dao.PostDAO">
	<insert id="insertPost">
		insert into post(p_title, p_date, p_content, p_b_num, p_u_id)
		values(#{post.p_title}, #{post.p_date},#{post.p_content},#{post.p_b_num},#{post.p_u_id})
	</insert>
</mapper>