<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe.dao.PostDAO">	

	<!-- 삭제 -->
	<delete id="deletePost">
		Delete
		FROM post
		WHERE p_num = #{p_num}
	</delete>
	
	<!-- 수정 -->
	<update id="updatePost">
		update post
		set
			p_b_num = #{post.p_b_num},
			p_title = #{post.p_title},
			p_content = #{post.p_content}
		where
			p_num = #{post.p_num}
	</update>
	
	<!-- 게시글 전체조회 -->
	<select id="selectPostList" resultType="cafe.model.vo.Post">
		SELECT 
    		post.*, c_title AS p_c_title, b_title AS p_b_title, u_nickname AS p_u_nickname
		FROM
   			post
        		JOIN
				    board ON b_num = p_b_num
		        JOIN
				    category ON b_c_num = c_num 
		    	 JOIN
					    user on u_id = p_u_id
		order by p_date desc
	</select>
	<!-- 내가 작성한 게시글 조회 -->
	<!-- 시간순으로 정렬하기 -->
	<select id="selectMyPostList"  resultType="cafe.model.vo.Post">
		SELECT 
    		post.*, c_title AS p_c_title, b_title AS p_b_title, u_nickname AS p_u_nickname
		FROM
   			post
        		JOIN
				    board ON b_num = p_b_num
				JOIN
				    category ON c_num = b_c_num 
			    JOIN
					    user on u_id = p_u_id
		where
			p_u_id = #{u_id} 
		order by p_date desc
	</select>
	<!-- 게시판 안의 게시글 가져오기 -->
	<select id="selectBoardPostList" resultType="cafe.model.vo.Post">
		SELECT 
	    		post.*, c_title AS p_c_title, b_title AS p_b_title, u_nickname AS p_u_nickname
			FROM
	   			post
	        		JOIN
					    board ON b_num = p_b_num
					JOIN
					    category ON c_num = b_c_num 
				     JOIN
					    user on u_id = p_u_id
			where
				p_b_num = #{p_b_num} 
			order by p_date desc
	</select>
	<!-- 게시글 1개 상세정보 불러오기 -->
	<select id="selectPost" resultType="cafe.model.vo.Post">
		SELECT 
	    		post.*, c_title AS p_c_title, b_title AS p_b_title, u_nickname AS p_u_nickname
			FROM
	   			post
	        		JOIN
					    board ON b_num = p_b_num
					JOIN
					    category ON c_num = b_c_num 
				    JOIN
					    user on u_id = p_u_id
			where
				p_num = #{p_num} 
	</select>
	<!-- 게시글 등록 -->
	<insert id="insertPost">
		insert into post(p_title, p_date, p_content, p_b_num, p_u_id)
		values(#{post.p_title}, #{post.p_date},#{post.p_content},#{post.p_b_num},#{post.p_u_id})
	</insert>
</mapper>